body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Outfit', serif;
    font-size: 15px;
    padding: 50px;
}

header {
    font-weight: 700;
    color: hsl(218, 44%, 22%);

}

img {
    border-radius: 10px;
    width: 288px;
}

.attribution {
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
    transition-duration: 300ms;
}

.attribution:hover  {
    font-size: 16px;
    opacity: 100 !important;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



#big-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    display: flex;

}

#little-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: hsl(216, 15%, 48%);
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    width: 320px;
    height: 459px;
    border-radius: 5%;
    padding: 16px 0px 40px 0px;
    text-align: center;
}

.text-container {
    width: 256px;
    height: 131px;
    display: flex;
    flex-flow: wrap;
    padding-top: 24px;
    align-content: space-between;
}

footer {
    padding-top: 10px;
    transition-duration: 320ms;

}
